.App {
  background-color: #F5F6FA;
  text-align: center;
  padding-bottom: 100px;
}

.App-logo {
  text-align: left;
  margin-left: 6%;
  height: 100px;
}

.App-header {
  text-align: left;
  background-color: #3486F8;
  height: 150px;
  padding: 20px;
  color: white;
  margin-bottom: 50px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


